<div class="page-header">
  <h3>
    My Messages
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Message</th>
        <th>Therapist ID</th>
        <th></th>
      </tr>

<!-- Wanted to get it to pull the name here but couldn't get it to work, even though in my assocations I have that a conversation belongs to a therapist. Want to fix that at some point.-->

      <% @convos.each do |conversation| %>
      <tr>
        <td><%= conversation.body %></td>
        <td><%= conversation.therapist_id %>
        </td>

        </td>
        <td>
          <!-- <a href="/conversations/<%= conversation.id %>/edit" class="btn btn-warning">Edit</a> -->
          <a href="/delete_conversation/<%= conversation.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
