
  <div class="container-fluid">
    <div class="row our-therapists-are">
      <div class="col-md-offset-2 col-md-8 text-center">
<hr>
<!-- ENTER IMAGE of MM LOGO on left and Puzzle piece on right -->
        <h3>
          Our therapists are experienced in working with veterans like you.
        </h3>
        <button type="submit" class="btn btn-primary btn-block">Browse Therapists Now</button>
      </div>
    </div>

<hr>

  <div class="row text-center padding-inside-top-sm">
    <div class="col-xs-12">
      <h2>
        About Mind Matters
      </h2>
      <hr>
      <h3>Our Mission</h3>
      <hr>
      <p>
        Mind Matters seeks to improve the quality of life for U.S. veterans by enhancing the quality and convenience of mental health care available to them.  We envision a nation where our former service members can easily and confidentially find the resources and support they need to remain healthy—not only physically, but also mentally and emotionally.
      </p>
    </div>
  </div>

<hr>
    <div class="row sound-bites-heading text-center padding-inside-top-sm padding-inside-bottom-sm">
      <div class="col-xs-12">
        <h3>
          What makes Mind Matters different
        </h3>
<hr>
      </div>
    </div>
    <div class="row sound-bites-content padding-inside-bottom-md">

      <div class="col-md-3 text-center">
        <img src="http://scinotions.com/wp-content/uploads/2015/12/Evolution-Of-Light-Bulb-featured.jpg" height="100px">

<!-- COMPETENCE BLOCK -->
        <h4>
          COMPETENCE
        </h4>

        <p>
          Our therapists have undergone a significant amount of training hours on military culture and veteran issues.
        </p>
      </div>

<!-- CONVENIENCE BLOCK -->
      <div class="col-md-3 text-center">
        <img src="http://il3.picdn.net/shutterstock/videos/10782506/thumb/12.jpg?i10c=img.resize(height:160)" height="100px">

        <h4>
          CONVENIENCE
        </h4>

        <p>
          Easy to schedule and get to appointments. As long as your chair isn't too far away from your computer.
        </p>
      </div>

<!-- CHOICE BLOCK -->
      <div class="col-md-3 text-center">
        <img src="https://cdn2.hubspot.net/hub/75217/file-990752202-jpg/images/decision.jpg" height="100px">
        <h4>
          CHOICE
        </h4>

        <p>
          A broad range of qualified, accessible therapists who are equipped to meet your unique needs.
        </p>
      </div>

<!-- CONFIDENTIALITY BLOCK -->
      <div class="col-md-3 text-center">
        <img src="http://www.linkmedia360.com/wp-content/uploads/2014/08/SSL-HTTPS-Secure-Site-Ranking-Boost2.jpg" height="100px">

        <h4>
        CONFIDENTIALITY
        </h4>

        <p>
          Don't want to bump into that one person in the waiting room? Don't worry. You won't.
        </p>
      </div>
    </div>

    <hr>

<div class="row text-center padding-inside-top-sm padding-inside-bottom-md">
    <h3>Our Leadership Team</h3>
</div>

  <hr>
      <div class="row text-center padding-inside-top-sm padding-inside-bottom-md">
        <div class="col-md-6">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJ3AAAAJGQ4NTA5OWE2LWI4MzMtNGE1ZS04MDI4LTRjNmZhMjJjMjgyMA.jpg" class="round-image spotlight-image margin-below-bottom-sm" height="100px">

          <h4>
            Alyse Athans
          </h4>

          <p>
            <b>CEO & Interim CFO</b>
          </p>
        </div>
        <div class="col-md-6">
          <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAABdAAAAJGRiZWZjMTJkLTc5MzctNDM0NS05YjQzLWFkMDI2NTJiYTJiMw.jpg" class="round-image spotlight-image margin-below-bottom-sm" height="100px">

          <h4>
            Steve Collins
          </h4>

          <p>
            <b>COO & Interim CTO</b>
          </p>
        </div>
      </div>


<hr>

    <div class="row footer padding-inside-top-md padding-inside-bottom-md">
      <div class="col-md-12 text-center">
<p>
  For more information, please contact us at <b>info@mind-matters.us</b>
</p>
      </div>
    </div>
  </div>

</body>
</html>
