
  <div class="container-fluid">
    <div class="row our-therapists-are">
      <div class="col-md-offset-2 col-md-8 text-center">
<hr>
<!-- ENTER IMAGE of MM LOGO on left and Puzzle piece on right -->
        <h3>
          Our therapists are experienced in working with veterans like you.
        </h3>
        <button type="submit" class="btn btn-primary btn-block">Browse Therapists Now</button>
      </div>
    </div>

<hr>

    <div class="row how-to-heading text-center padding-inside-top-sm">
      <div class="col-xs-12">
        <h2>
          About Mind Matters
        </h2>
<hr>
        <h3>Our Mission</h3>
        <hr>
        <p>
          Mind Matters seeks to improve the quality of life for U.S. veterans by enhancing the quality and convenience of mental health care available to them.  We envision a nation where our former service members can easily and confidentially find the resources and support they need to remain healthy—not only physically, but also mentally and emotionally.
        </p>
        <hr>
        <h3>Our Leadership Team</h3>
      </div>
    </div>
    <div class="row how-to-content text-center padding-inside-top-sm padding-inside-bottom-md">
      <div class="col-md-6">
        <img src="assets/images/alyse.jpg" class="round-image spotlight-image margin-below-bottom-sm">

        <h4>
          Alyse Athans
        </h4>

        <p>
          CEO & Interim CFO
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/steve.jpg" class="round-image spotlight-image margin-below-bottom-sm">

        <h4>
          Steve Collins
        </h4>

        <p>
          COO & Interim CTO
        </p>
      </div>
    </div>
    <div class="row sound-bites-heading text-center padding-inside-top-sm padding-inside-bottom-sm">
      <div class="col-xs-12">
        <h3>
          What makes MindMatters different
        </h3>
      </div>
    </div>
    <div class="row sound-bites-content padding-inside-bottom-md">
      <div class="col-md-3">
        <img src="assets/images/check.png" class="round-image user-image">
        <h4>
          CHOICE
        </h4>

        <p>
          A much broader range of qualified, reachable therapists than you're probably used to.
        </p>
      </div>
      <div class="col-md-3">
        <img src="assets/images/check.png" class="round-image user-image">

        <h4>
          COMPETENCE
        </h4>

        <p>
          Our therapists have undergone a significant amount of training hours on military culture and veteran issues.
        </p>
      </div>
      <div class="col-md-3">
        <img src="assets/images/check.png" class="round-image user-image">

        <h4>
          CONVENIENCE
        </h4>

        <p>
          Easy to schedule and get to appointments. As long as your chair isn't too far away from your computer.
        </p>
      </div>
      <div class="col-md-3">
        <img src="assets/images/check.png" class="round-image user-image">

        <h4>
        CONFIDENTIALITY
        </h4>

        <p>
          Don't want to bump into that one person in the waiting room? Don't worry. You won't.
        </p>
      </div>
    </div>

<hr>

    <div class="row footer padding-inside-top-md padding-inside-bottom-md">
      <div class="col-md-12 text-center">
<p>
  For more information, please contact us at <b>info@mind-matters.us</b>
</p>
      </div>
    </div>
  </div>

</body>
</html>
