
  <div class="container-fluid">
    <div class="row our-therapists-are">
      <div class="col-md-offset-2 col-md-8 text-center">
<hr>
<!-- ENTER IMAGE of MM LOGO on left and Puzzle piece on right -->


  <div class="row text-center padding-inside-top-sm">
    <div class="col-xs-12">
      <h2>
        Mind Matters *LANDING*
      </h2>
      <hr>
      <h3>Our Mission</h3>
      <hr>
      <p>
        Mind Matters seeks to improve the quality of life for U.S. veterans by enhancing the quality and convenience of mental health care available to them.  We envision a nation where our former service members can easily and confidentially find the resources and support they need to remain healthy—not only physically, but also mentally and emotionally.
      </p>
    </div>
  </div>

<hr>

<div class="row text-center padding-inside-top-sm padding-inside-bottom-md">
    <h3>Our Leadership Team</h3>
</div>

  <hr>
      <div class="row text-center padding-inside-top-sm padding-inside-bottom-md">
        <div class="col-md-6">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJ3AAAAJGQ4NTA5OWE2LWI4MzMtNGE1ZS04MDI4LTRjNmZhMjJjMjgyMA.jpg" class="round-image spotlight-image margin-below-bottom-sm" height="100px">

          <h4>
            Alyse Athans
          </h4>

          <p>
            <b>CEO & Interim CFO</b>
          </p>
        </div>
        <div class="col-md-6">
          <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAABdAAAAJGRiZWZjMTJkLTc5MzctNDM0NS05YjQzLWFkMDI2NTJiYTJiMw.jpg" class="round-image spotlight-image margin-below-bottom-sm" height="100px">

          <h4>
            Steve Collins
          </h4>

          <p>
            <b>COO & Interim CTO</b>
          </p>
        </div>
      </div>


<hr>

<div class="row footer padding-inside-top-md padding-inside-bottom-md">
<div class="col-md-12 text-center">
  <p>
    For more information, please contact us at <b>info@mind-matters.us</b>
  </p>
  </div>
</div>

</div>

</body>
</html>
