

<div class="container-fluid">


  <div class="row col-md-12">

    <div class="col-md-8 padding-inside-top-sm">
    <img src="/assets/mm_logo_2.png" height="375px"/>
    </div>

    <div class="col-md-4 padding-inside-top-sm">
    <img src="/assets/puzzle_piece.jpg" height="375px" />
    </div>
  </div>
</div>

  <div class="row text-center">

    <div class="col-md-offset-1 col-md-10 text-center padding-inside-top-sm">
      <!-- ENTER IMAGE of MM LOGO on left and Puzzle piece on right -->
      <!-- <h1>Mind Matters</h1> -->
      <h2>The telemental health platform for veterans.</h2>
    </div>
  </div>


<hr>

  <div class="row text-center title-grey">
    <div class="col-xs-10 col-md-offset-1">
      <h4><b>Our Mission</b></h4>
    </div>
  </div>

  <div class="row text-center padding-inside-top-md">
    <div class="col-xs-8 col-md-offset-2">
      <p style="font-size: 16px">
        Mind Matters seeks to improve the quality of life for U.S. veterans by providing them with convenient, culturally competent mental health services.  We envision a nation where our former service members can easily and confidentially find the resources and support they need to lead healthier, happier lives.
      </p>
    </div>
  </div>

<hr>

<div class="row text-center title-grey">
  <div class="col-xs-8 col-md-offset-2">
    <h4><b>Our Team</b></h4>
  </div>
</div>


  <div class="row text-center padding-inside-top-md">
    <div class="col-md-4">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAJ3AAAAJGQ4NTA5OWE2LWI4MzMtNGE1ZS04MDI4LTRjNmZhMjJjMjgyMA.jpg" class="round-image spotlight-image " height="100px">

      <h4>
        Alyse Athans
      </h4>

      <p>
        <b>CEO & Interim CFO</b>
      </p>

<a href="https://www.linkedin.com/in/alyse-athans-38a0276"><i class="fa fa-linkedin-square" style="font-size: 20px" aria-hidden="true"></i>
</a>


    </div>

    <div class="col-md-4">
      <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAABdAAAAJGRiZWZjMTJkLTc5MzctNDM0NS05YjQzLWFkMDI2NTJiYTJiMw.jpg" class="round-image spotlight-image " height="100px">

      <h4>
        Steve Collins
      </h4>

      <p>
        <b>COO & Interim CTO</b>
      </p>
      <a href="https://www.linkedin.com/in/scollins2"><i class="fa fa-linkedin-square" style="font-size: 20px" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-md-4">
      <img src="https://media.licdn.com/media/AAEAAQAAAAAAAATZAAAAJGQ4NmY0ODQ0LTI5YjUtNDY4NC1hZmM4LTllMWI0YWUzZjgxNA.jpg" class="round-image spotlight-image " height="100px">

      <h4>
        Mike Sanchez
      </h4>

      <p>
        <b>Summer Associate</b>
      </p>
      <a href="https://www.linkedin.com/in/mikesanchez2"><i class="fa fa-linkedin-square" style="font-size: 20px" aria-hidden="true"></i>
      </a>
    </div>

  </div>

  <hr>

  <div class="row text-center title-grey">
    <div class="col-xs-12">
      <h4><b>How We're Different</b></h4>
    </div>
  </div>

  <div class="row text-center">
      <div class="col-xs-12">

        <div class="row padding-inside-top-md">

          <div class="col-md-3 text-center">
            <img src="http://scinotions.com/wp-content/uploads/2015/12/Evolution-Of-Light-Bulb-featured.jpg" height="100px">

            <!-- COMPETENCE BLOCK -->
            <h5>
              COMPETENCE
            </h5>

            <p style="font-size: 14px">
              Our therapists have undergone a significant amount of training hours on military culture and veteran issues.
            </p>
          </div>

          <!-- CONVENIENCE BLOCK -->
          <div class="col-md-3 text-center">
            <img src="http://il3.picdn.net/shutterstock/videos/10782506/thumb/12.jpg?i10c=img.resize(height:160)" height="100px">

            <h5>
              CONVENIENCE
            </h5>

            <p style="font-size: 14px">
              Easy to schedule and get to appointments. As long as your chair isn't too far away from your computer.
            </p>
          </div>

          <!-- CHOICE BLOCK -->
          <div class="col-md-3 text-center">
            <img src="https://cdn2.hubspot.net/hub/75217/file-990752202-jpg/images/decision.jpg" height="100px">
            <h5>
              CHOICE
            </h5>

            <p style="font-size: 14px">
              A broad range of qualified, accessible therapists who are equipped to meet your unique needs.
            </p>
          </div>

          <!-- CONFIDENTIALITY BLOCK -->
          <div class="col-md-3 text-center">
            <img src="http://www.linkmedia360.com/wp-content/uploads/2014/08/SSL-HTTPS-Secure-Site-Ranking-Boost2.jpg" height="100px">

            <h5>
              CONFIDENTIALITY
            </h5>

            <p style="font-size: 14px">
              Don't want to bump into that one person in the waiting room? Don't worry. You won't.
            </p>
          </div>
        </div>

        <hr>


        <div class="row footer padding-inside-top-sm padding-inside-bottom-md">
          <div class="col-md-12 text-center">
            <p style="font-size: 18px">
              For more information, please contact us at <b>info@mind-matters.us</b>
            </p>
          </div>
        </div>

      </div>

    </body>
    </html>
