<div class="page-header">
  <h4> Welcome!</h4>

<hr>
<a href="/users/<%= current_user.id%>">My Profile</a>

<hr>
<a href="users/<%= current_user.id%>/edit">Edit Profile</a>

<hr>
<a href="/therapists">Browse Therapists</a>

<hr>
<a href="/about">About Mind Matters</a>

</div>
