
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-offset-2 col-md-8 text-center">
<hr>
<!-- ENTER IMAGE of MM LOGO on left and Puzzle piece on right -->
        <h4>
          Welcome to Mind Matters,</h4>
          <h4>the telemental health platform for veterans.</h4>

        <div class="btn-group btn-group-justified">
          <a href="/therapists" class="btn btn-primary">
              Browse Therapists Now
          </a>
        </div>


      </div>
    </div>

<hr>
<div class="row text-center padding-inside-top-sm padding-inside-bottom-sm">
  <div class="col-xs-12">
    <h4>
      How Mind Matters is Different
    </h4>
<hr>
    <div class="col-xs-12">

    <div class="row sound-bites-content padding-inside-bottom-md">

      <div class="col-md-3 text-center">
        <img src="http://scinotions.com/wp-content/uploads/2015/12/Evolution-Of-Light-Bulb-featured.jpg" height="100px">

<!-- COMPETENCE BLOCK -->
        <h4>
          COMPETENCE
        </h4>

        <p>
          Our therapists have undergone a significant amount of training hours on military culture and veteran issues.
        </p>
      </div>

<!-- CONVENIENCE BLOCK -->
      <div class="col-md-3 text-center">
        <img src="http://il3.picdn.net/shutterstock/videos/10782506/thumb/12.jpg?i10c=img.resize(height:160)" height="100px">

        <h4>
          CONVENIENCE
        </h4>

        <p>
          Easy to schedule and get to appointments. As long as your chair isn't too far away from your computer.
        </p>
      </div>

<!-- CHOICE BLOCK -->
      <div class="col-md-3 text-center">
        <img src="https://cdn2.hubspot.net/hub/75217/file-990752202-jpg/images/decision.jpg" height="100px">
        <h4>
          CHOICE
        </h4>

        <p>
          A broad range of qualified, accessible therapists who are equipped to meet your unique needs.
        </p>
      </div>

<!-- CONFIDENTIALITY BLOCK -->
      <div class="col-md-3 text-center">
        <img src="http://www.linkmedia360.com/wp-content/uploads/2014/08/SSL-HTTPS-Secure-Site-Ranking-Boost2.jpg" height="100px">

        <h4>
        CONFIDENTIALITY
        </h4>

        <p>
          Don't want to bump into that one person in the waiting room? Don't worry. You won't.
        </p>
      </div>
    </div>

<hr>

<div class="row footer padding-inside-top-md padding-inside-bottom-md">
<div class="col-md-12 text-center">
  <p>
    For more information, please contact us at <b>info@mind-matters.us</b>
  </p>
  </div>
</div>
